*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    display: none;
}

:root{
    --text-size-1: 78px;
    --text-size-2: 60px;
    --text-size-3: 32px;
    --text-size-4: 20px;
    --text-size-5: 16px;
    --text-size-6: 14px;
    --text-size-7: 12px;
    --text-size-8: 10px;

    --padding-larger: 28px;
    --padding-medium: 20px
}

body{
    background-color: #F5F7FF;
    font-family: "Inter";
    font-size: 16px;
    letter-spacing: -1%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #7F92AC;
    font-size: var(--text-size-6);

}

h1, h2, h3, h4, h5, a.logo{
    font-family: "DM Serif Text";
    font-weight: 400;
}

/* utilities */
.container{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
}

    .container.column{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container.row{
        flex-direction: row;
    }

.flexbox{
    display: flex;
    align-items: center;
}


.btn{
    font-family: "Inter";
    font-weight: 600;
    font-size: var(--text-size-7);
    letter-spacing: -1%;
    padding: var(--padding-medium);
    background-color: transparent;
    border: transparent;
    color: transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

    .btn.blue{
        background-color: #2D32E2;
        color: #FFFFFF;
    }

    .btn.rounded{
        font-size: var(--text-size-5);
        font-weight: 400;
        border-radius: 53px;
        padding: var(--padding-medium) 50px;
    }