<%- include('./templates/header.ejs')%>
    <div class="bookCreation">
        <div class="container column">
            <h2>Book creation</h2>
            <form class="createForm" enctype="multipart/form-data">
                <div class="leftSide">
                    <div class="inputField">
                        <div class="imageUpload__wrap">
                            <input type="file" class="imageUpload__input" name="coverImage" accept="image/*"/>
                            <div class="imageUpload__text">
                                <i class="ri-image-line"></i>
                                <h3>Upload book cover</h3>
                                <p>Image must be at least 512x512 
                                    in file format .jgp or .png</p>
                            </div>
                        </div>
                    </div>
                    <p>or</p>
                    <div class="inputField inputField__url">
                        <label for="url">Paste URL</label>
                        <input type="url" name="url" />
                    </div>
                </div>
                <div class="rightSide">
                    <div class="inputField">
                        <input type="text" name="title" />
                        <label for="title">book name</label>
                    </div>
                    <div class="flex__inputField">
                        <div class="inputField">
                            <input type="text" name="author" />
                            <label for="author">author</label>
                        </div>
                        <div class="inputField">
                            <input type="text" name="publisher" />
                            <label for="publisher">publisher</label>
                        </div>
                    </div>
                    <div class="inputField selectField">
                        <i class="ri-arrow-down-s-line"></i>
                        <select name="genre" required>
                            <option value="" disabled selected none>genre</option>
                            <option value="fantasy">Fantasy</option>
                            <option value="adventure">Adventure</option>
                            <option value="romance">Romance</option>
                            <option value="relationships">Relationships</option>
                            <option value="travel">Travel</option>
                            <option value="history">History</option>
                            <option value="health">Health</option>
                            <option value="motivational">Motivational</option>
                            <option value="development">Development</option>
                            <option value="self-help">Self-help</option>
                            <option value="art">Art</option>
                            <option value="guide">Guide</option>
                        </select>
                    </div>
                    <div class="inputField">
                        <div class="descriptionContainer">
                            <label for="description">about</label>
                            <textarea name="description" rows="25" placeholder="What is this book about?"></textarea>
                        </div>
                    </div>
                    <div class="btnContainer">
                        <a href="/books" class="btn blue outlined">Cancel</a>
                        <button class="btn blue">Complete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        const createBookForm = document.querySelector('.createForm');
        const urlImage = document.getElementsByName('url')[0]
        const title = document.getElementsByName('title')[0]
        const author = document.getElementsByName('author')[0]
        const publisher = document.getElementsByName('publisher')[0]
        const genre = document.getElementsByName('genre')[0]
        const description = document.getElementsByName('description')[0]
        const imageUploadInput = document.querySelector('.imageUpload__input')

        createBookForm.addEventListener('submit', async (e) => {
            e.preventDefault()      

            const postBook = async (objectData) => {
                const res = await fetch('/books', {
                    method: "POST",
                    body: JSON.stringify(objectData),
                    headers: {'Content-type': 'application/json'}
                })
                
            }

            const file = imageUploadInput.files[0]

            if(file){
                const reader = new FileReader()
                reader.readAsDataURL(file)
                reader.onloadend = async () => {
                    const object = {
                        title: title.value,
                        author: author.value,
                        publisher: publisher.value,
                        genre: genre.value,
                        description: description.value.split("\n\n").join("<br>"),
                        coverImageData: reader.result
                    }

                    postBook(object)

                    window.location = '/books'
                }
            } else{
                const object = {
                    coverImageUrl: urlImage.value,
                    title: title.value,
                    author: author.value,
                    publisher: publisher.value,
                    genre: genre.value,
                    description: description.value.split("\n\n").join("</br>"),
                }

                postBook(object)

                window.location = '/books'
            }
            
        })
    </script>
<%- include('./templates/footer.ejs')%>