*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    display: none;
}

:root{
    --text-size-1: 78px;
    --text-size-2: 60px;
    --text-size-3: 32px;
    --text-size-4: 20px;
    --text-size-5: 16px;
    --text-size-6: 14px;
    --text-size-7: 12px;
    --text-size-8: 10px;
    --text-section-title: 48px;

    --padding-larger: 28px;
    --padding-medium: 20px
}

body{
    background-color: #F5F7FF;
    font-family: "Inter";
    font-size: 16px;
    letter-spacing: -1%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #7F92AC;
    font-size: var(--text-size-6);

}

h1, h2, h3, h4, h5, a.logo{
    font-family: "DM Serif Text";
    font-weight: 400;
}

/* NAVBAR */
.navbar{
    width: 100%;
}

    .navbar .container{
        padding-top: var(--padding-larger);
        align-items: center;
    }

        .logo{
            font-size: var(--text-size-4);
            color: #2D32E2;
            margin-right: 60px;
        }

        .navLinks__container{
            justify-content: space-between;
            width: 100%
        }

        .navLinks{
            gap: 50px;
        }

        .navLinks .userImage{
            width: 40px;
            height: 40px;
            background-color: #C4C9CF;
            border-radius: 50%;
            cursor: pointer;
        }

            .navLinks .userImage img{
                width: 100%;
                height: 100%;
                color: red;
                display: none;
            }

/* LOGIN AND SIGNUP FORM */
.formSection .container{
    position: relative;
    margin-top: 32px;
    max-width: 650px;
}

    .titleSection{
        font-size: var(--text-size-2);
        color: #131A6D;
        line-height: 70px;
        text-align: center;
        margin-bottom: 32px;
    }

    .ctaLink{
        font-size: var(--text-size-5);
        color: #C4C9CF;
        margin-bottom: 24px;
        font-weight: 500;
    }

        .ctaLink a{
            color: #2D32E2;
            font-size: var(--text-size-5);
            font-weight: 600;
        }

    .googleAlt{
        width: 100%;
        background-color: #4285F4;
        color: #FFFFFF;
        font-size: var(--text-size-7);
        text-align: center;
        padding: var(--padding-medium);
        border-radius: 8px;
        margin-bottom: 32px;
        font-weight: 600;
    }

        .googleAlt i{
            margin-right: 6px;
        }

    .orLine__horizontal{
        position: relative;
        width: 100%;
        text-transform: uppercase;
        justify-content: center;
        margin-bottom: 32px;
        color: #5E6C80;

    }

    .orLine__horizontal::after,
    .orLine__horizontal::before{
        content: "";
        position: absolute;
        width: 45%;
        height: 1px;
        background-color: #C4C9CF;
    }

    .orLine__horizontal::before{
        right: 0;
    }

    .orLine__horizontal::after{
        left: 0;
    }

    .userForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fieldSection{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 32px;
    }

        .fieldSection:not(.agreement) .errorMessage{
            font-size: var(--text-size-7);
            position: absolute;
            right: 0%;
            bottom: -35%;
            display: none;
        }

    .fieldSection:not(.agreement).error .errorMessage,
    .fieldSection:not(.agreement).error label{
        color: #FF5151;
        display: flex;
    }

    .fieldSection:not(.agreement).error input{
        border: 1px solid #FF5151;

    }


    .fieldSection.agreement{
        flex-direction: row;
        margin-bottom: 42px;
    }


    input:not([name="agreement"]){
        font-size: var(--text-size-7);
        background-color: #FFFFFF;
        border-radius: 8px;
        border: none;
        padding: var(--padding-medium);
        outline: none;
        width: 100%;
        color: #5E6C80;
        font-family: "Inter";
        font-weight: 500;
        letter-spacing: -1%;
    }

    label:not([for="agreement"]){
        text-transform: uppercase;
        color: #C4C9CF;
        font-size: var(--text-size-7);
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translate(0 , -50%);
        transition: all 0.3s;
        pointer-events: none;
    }

        input:not([name="agreement"]).focus + label{
            top: -20%;
            left: 0px;
            transition: all 0.3s;
            font-size: var(--text-size-8);
        }

    label[for="agreement"]{
        position: relative;
        font-size: var(--text-size-7);
        color: #C4C9CF;
        letter-spacing: -1%;
        line-height: 21px;
        margin-left: 30px;
    }

    label[for="agreement"]::before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 1px solid #C4C9CF;
        border-radius: 2px;
        display: inline-block;
        left: -25px;
        top: 2.5px;
        transition: all 0.3s;
    }

    
    .fieldSection.agreement.error label::before{
        border: 1px solid #FF5151;
    }

    .fieldSection.agreement.error label{
        color: #ff5151;
    }

    label[for="agreement"]::after{
        color: #FFFFFF;
        content: "\2713";
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        left: -22.5px;
        top: 0;
        transform: scale(0);
        transition: all 0.3s;
    }

    label[for="agreement"] a{
        color: #5E6C80;
        font-size: var(--text-size-7);
    }

    input[name="agreement"]{
        position: absolute;
        left: 100px;
        display: none;
    }

    input[name="agreement"]:checked + label[for="agreement"]::before{
        background-color: #2D32E2;
        border: 0px;
        transition: all 0.3s;
    }

    input[name="agreement"]:checked + label[for="agreement"]::after{
        transform: scale(0.9);
        transition: all 0.3s;
    }

    .userForm button{
        width: 250px;
        margin: 0 auto 60px;
    }

/* home page */
.heroPage .container{
    margin-top: 40px;
}

p.littleTitle{
    color: #2D32E2;
    font-weight: 500;
    font-size: var(--text-size-5);
    margin-bottom: 16px;
}

h1.title{
    font-size: var(--text-size-1);
    line-height: 100%;
    color: #131A6D;
}

h1.title:nth-child(3){
    margin-bottom: 60px;
    color: #6E84A0;
}

.searchForm{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 13px 39px rgba(0, 0, 0, 0.05);
    border-radius: 13px;
    min-width: 900px;
    height: 90px;
    padding: 0 24px;
    margin-bottom: 22px;
}

.searchIcon{
    color: #C4C9CF;

}

.searchForm .input{
    height: 100%;
    font-size: var(--text-size-5);
    color: #5E6C80;
    font-weight: 500;
}

    .searchForm .input::placeholder{
        color: #C4C9CF;
    }

.createAcc{
    color: #C4C9CF;
    font-size: var(--text-size-5);

    min-width: 900px;
    text-align: right;
}

.createAcc a{
    color: #2D32E2;
    font-weight: 500;
    font-size: var(--text-size-5);
}
    
/* books section */
.booksSection .container.column{
    align-items: flex-start;
}

.findingBar {
    margin-top: 90px;
}

.findingBar .searchForm{
    min-width: 610px;
    height: 60px;
    margin-bottom: 50px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.findingBar .searchForm .input{
    font-size: var(--text-size-6);
}

.findingBar .searchForm .btn{
    font-size: var(--text-size-6);
    padding: 15px 40px;
}

.booksGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 15px;
    transition: all 0.3s;
}

    .bookCard{
    }

    .bookCover{
        position: relative;
        width: 250px;
        height: 315px;
        margin-bottom: 10px;
        background-color: rgba(127, 146, 172, 0.11);
        z-index: 1;
        overflow: hidden;
        cursor: pointer;
    }

        .bookCover:hover .hoverBox{
            transform: translateY(0%);
            transition: transform 0.5s;
        }

        .bookCover:hover::before{
            background-color: rgba(245, 247, 255, 0.75);
            transition: all 0.5s;
        }

        .bookCover img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
                
        }

        .bookCover::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(245, 247, 255, 0);
            z-index: 1;
            transition: all 0.5s;
        }

        .bookCover .hoverBox{
            position: absolute;
            background-color: #ffffff;
            bottom: 0;
            width: 100%;
            padding: 24px 64px;
            color: #2D32E2;
            font-size: var(--text-size-6);
            text-align: center;
            z-index: 10;
            transform: translateY(100%);    
            transition: transform 0.5s;
        }

    .bookInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .bookName{
            color: #000000;
            font-size: var(--text-size-6);
            font-weight: 500;
        }

        .authorName{
            color: rgba(0, 0, 0, 0.25);
            font-size: var(--text-size-6);
            font-weight: 500;
        }

        .bookRating{
            color: #2D32E2;
            font-size: var(--text-size-6)
        }

/* Book Section */
.bookReview .container.column{
    align-items: flex-start;
    margin-top: 90px;
}

.backLink{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    transition: all 0.3s;
}

.backLink:hover svg{
    margin-right: 9px;
    transition: all 0.3s;
    color: #2D32E2;
}

    .backLink:hover {
        color: #2D32E2;
        transition: all 0.3s;
    }

    .backLink svg{
        margin-right: 18px;
        transition: all 0.3s;
    }

.bookHeader, .bookBody{
    display: flex;
    width: 100%;
}

.leftSide, .rightSide{
    flex: 0.5;
    position: relative;
}

.bookHeader{
    margin-bottom: 56px;
}

    .leftSide .title{
        font-size: var(--text-section-title);
        font-family: 'Inter';
    }

    .leftSide .author{
        font-size: var(--text-size-4);
        color: #7F92AC;
    }

    .leftSide .author:hover {
        text-decoration: underline;
    }

    .leftSide .author:hover ~ .authorInfoBox{
        display: flex;
    }
    
    .leftSide .authorInfoBox{
        position: absolute;
        display: none;
        top: 125%;
        background-color: #ffffff;
        width: 450px;
        height: 125px;
        box-shadow: 0 5px 12px rgba(0, 0, 0 , 0.2);
        border-radius: 6px;
        z-index: 10;
        animation: load 0.3s linear;
    }

    .leftSide .authorInfoBox:hover{
        display: flex;
    }

    @keyframes load {
        0%{
            height: 0;
        }
        50%{
            height: 62.5px;
        }
        100%{
            height: 125px;
        }
    }

        .leftSide .authorInfoBox::before{
            content: "";
            position: absolute;
            z-index: -10;
            left: 5%;
            top: -10%;
            width: 30px;
            height: 30px;
            transform: rotate(45deg);
            background-color: #ffffff;
            box-shadow: 0px 0px 12px rgba(0, 0, 0 , 0.2);
        }

        .leftSide .authorInfoBox::after{
            content: "";
            position: absolute;
            z-index: -10;
            left: 2.5%;
            top: 0%;
            width: 60px;
            height: 30px;
            background-color: #ffffff;
            transform: rotate(0deg);

        }

    .bookHeader .rightSide{
        display: flex;
        justify-content: space-between;

    }

        .rightSide .bookProperty{
            font-size: var(--text-size-5);
            text-transform: uppercase;
            font-weight: 600;
        }

            .propertyTitle{
                color: #7f92ac;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .propertyValue svg{
                color: #7F92AC;
            }

                .propertyValue svg.full{
                    color: #2D32E2;
                }

        .rightSide .btn{
            height: fit-content;
            font-size: var(--text-size-6);
            letter-spacing: -1%;
            display: flex;
            align-items: center;
        }

            .rightSide .btn svg{
                margin-left: 8px;
                font-weight: 600;
            }

.leftSide .imgContainer{
    max-width: 580px;
    max-height: 750px;
}

    .imgContainer img{
        width: 100%;
        height: 100%;
    }

.rightSide .aboutContent{
    font-size: var(--text-size-4);
    line-height: 180%;
    font-weight: 600;
}

/* Book creation */
.bookCreation .container.column{
    align-items: flex-start;
    margin-top: 90px;
}

    .bookCreation h2{
        font-size: var(--text-section-title);
        font-weight: 500;
        font-family: 'Inter';
        margin-bottom: 40px;
    }

    .bookCreation form{
        width: 100%;
        display: flex;
        gap: 180px;
        height: 900px;
    }

        .bookCreation .leftSide{
            max-width: 700px;
            height: 100%;
            background-color: #ffffff;
            border-radius: 4px;
            padding: 38px;
            text-align: center;
        }

        .bookCreation .leftSide .inputField:not(.inputField__url){
            height: 75%;
            margin-bottom: 24px;
            transition: 0.3s ease;
        }

        .bookCreation .leftSide .inputField.active{
            height: 100%;
        }

        .bookCreation .leftSide .hidden{
            display: none !important; 
            transition: 0.3s ease;
        }

        .bookCreation .imageUpload__wrap input{
            position: absolute;
            margin: 0;
            left: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .bookCreation .imageUpload__wrap{
            border: 3px dashed rgba(127, 146, 172, 0.5);
            height: 100%;
            transition: 0.3s ease-out;
            cursor: pointer;
        }

        .bookCreation .imageUpload__wrap.error{
            border: 3px dashed #FF5151;
            animation: pulse 0.3s cubic-bezier(0.000, 0.340, 0.345, 1.495);
        }

        @keyframes pulse{
            0%{
                transform: scale(0.95);
            }
            25%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.05);
            }
            100%{
                transform: scale(1);

            }
        }

        .bookCreation .imageUpload__wrap.error .imageUpload__text p,
        .bookCreation .imageUpload__wrap.error .imageUpload__text h3,
        .bookCreation .imageUpload__wrap.error .imageUpload__text i{
            color: #FF5151;
        }

        .imageDropping,
        .imageUpload__wrap:hover{
            background-color:  rgba(127, 146, 172, 0.05);
        }

        .imageUpload__text{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

            .imageUpload__text i{
                font-size: 150px;
                color: #7F92AC;
                margin-bottom: 78px;
            }

            .imageUpload__text h3{
                font-family: "Inter";
                font-size: var(--text-size-3);
                font-weight: 600;
                color: #7F92AC;
                margin-bottom: 16px;
            }

            .imageUpload__text p{
                font-size: var(--text-size-5);
                color: #7F92AC;
                width: 300px;
                line-height: 150%;
            }

            .imageUpload__content{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                animation: pop-up 0.2s ease-out;
            }

            @keyframes pop-up{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }

            .imageUploaded{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 100;
            }

            .removeImage{
                position: absolute;
                top: 16px;
                right: 16px;
                z-index: 1000;
                background-color: rgba(31,37,49,.85);
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--text-size-5);
                color:#ffffff;
                cursor: pointer;
                transition: 0.3s ease;
            }

            .removeImage:hover{
                background-color: rgba(31,37,49,1);
                transform: rotate(90deg);
            }

            .imageUpload__name{
                position: absolute;
                top: 16px;
                left: 16px;
                color: #ffffff;
                max-width: 60%;
                padding: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: rgba(31,37,49,.85);
                border-radius: 4px;
                z-index: 1000;
            }
        .bookCreation .leftSide .inputField__url{
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s ease;
        }
        .bookCreation .leftSide .inputField__url label{
            position: relative;
            top: 0;
            left: 0;
            font-weight: 600;
            font-size: var(--text-size-5);
            color: #7F92AC;
            text-transform: none;
        }

        .bookCreation .leftSide .inputField__url input{
            padding: 12px 32px;
            margin-top: 16px;
            width: 80%;
            border: 1px solid rgba(127, 146, 172, 0.2);
            background-color:  rgba(127, 146, 172, 0.2);
            text-align: center;
        }

        .bookCreation .leftSide > p{
            font-weight: 600;
            font-size: var(--text-size-5);
            color: #7F92AC;
            margin-bottom: 32px;
            transition: 0.3s ease;
        }



        .bookCreation .rightSide{
            max-width: 650px;
            max-height: 900px;
        }
            .bookCreation input,
            .bookCreation textarea,
            .bookCreation select{
                border: 1px solid rgba(127, 146, 172, 0.2);
                margin-bottom: 16px;
                border-radius: 4px;
                padding: 34px 23px 16px;
                width: 100%;
                resize: none;
                outline: none;
            }

            .bookCreation select{
                width: 200px;
                display: flex;
                align-items: center;
                font-size: var(--text-size-6);
                text-transform: uppercase;
                color: #7F92AC;
                font-family: "Inter";
                font-weight: 600;
                padding: 24px 32px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url('./chevron-down.svg');
                background-repeat: no-repeat;
                background-position: 85% 50%;
                outline: none;
            }

    .flex__inputField{
        display: flex;
        gap: 16px;
    }

        .flex__inputField .inputField:nth-child(1){
            flex: 0.6;
        }

        .flex__inputField .inputField:nth-child(2){
            flex: 0.4;
        }

    .bookCreation .btn{
        width: fit-content;
    }

    .bookCreation form .btnContainer{
        display: flex;
        gap: 24px;
        justify-content: flex-end;
    }

    .bookCreation .inputField{
        position: relative;
    }

    .bookCreation form label{
        top: 22px;
    }
    .bookCreation form input{
        font-size: var(--text-size-6);
        font-weight: 600;
        color: #7F92AC;
    }

    .bookCreation form input[name="title"]{
        font-size: var(--text-size-4);
    }

    .bookCreation form textarea{
        font-size: var(--text-size-5);
        font-family: inherit;
        color: #7F92AC;
        height: 100%
    }

        .bookCreation form label[for="description"]{
            font-size: var(--text-size-6);
            color: #7F92AC;
            font-weight: 600;
            top: 30px;
        }

        .bookCreation form textarea::placeholder{
            color: #7F92AC;
            opacity: 0.5;
        }

/* utilities */
.container{
    max-width: 1750px;
    padding: 0 64px;
    margin: 0 auto;
    display: flex;
}

    .container.column{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container.row{
        flex-direction: row;
    }

.flexbox{
    display: flex;
    align-items: center;
}


.btn{
    font-family: "Inter";
    font-weight: 600;
    font-size: var(--text-size-6);
    letter-spacing: -1%;
    padding: var(--padding-medium) var(--padding-larger);
    background-color: transparent;
    border: transparent;
    color: transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    height: fit-content;
}

    .btn.blue{
        background-color: #2D32E2;
        color: #FFFFFF;
        font-size: var(--text-size-6);
        letter-spacing: -1%;
    }

    .btn.rounded{
        font-size: var(--text-size-6);
        font-weight: 400;
        border-radius: 53px;
        padding: var(--padding-medium) 50px;
    }

    .btn.outlined{
        background-color: transparent;
        border: 1px solid #2d32e2;
        color: #2d32e2;
    }

.notFound__container{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-75%);
    max-width: 400px;
    text-align: center;
}

    .notFound__container h3{
        color: #5E6C80;
        font-size: var(--text-size-3);
        font-family: 'Inter';
        margin: 21px 0;
    }

    .notFound__container p{
        color: #C4C9CF;
        font-size: var(--text-size-5);
        margin-bottom: 42px;
    }

.Error404 .container{
    margin-top: 50px;
    font-size: var(--text-size-2);
    color: #131A6D;
}

.Error404 #Label{
        animation:  1s infinite linear;
        transform-origin: 50% 50%;
        transform-box: fill-box;
}


@keyframes label {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(10deg);

    }
    50%{
        transform: rotateZ(0deg);

    }

    75%{
        transform: rotateZ(-10deg);

    }

    100%{
        transform: rotateZ(0deg);
    }

}

