<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@500;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/logo.svg">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %> | Bookly</title>
</head>
<body>

    <div class="navbar">
        <div class="container row">
            <div class="logo__container">
                <a href="/" class="logo">Bookly</a>
            </div>
            <div class="navLinks__container flexbox">
                <ul class="navLinks flexbox">
                    <li><a href="/books">Books</a></li>
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                </ul>
                <ul class="navLinks flexbox">
                    <% if(user){ %>
                        <li><a href="/logout">Log out</a></li>
                        <li class="userImage"><a href="/user"><img src="<%= user.image %>" onerror="this.onerror=null; this.src='/logo.svg'"></a></li>
                    <% } else{%>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/signup">Sign up</a></li>
                    <% }%>
                </ul>
            </div>
        </div>
    </div>
    