/* LOGIN AND SIGNUP FORM */
.formSection .container{
    position: relative;
    margin-top: 32px;
    max-width: 550px;
}

    .titleSection{
        font-size: var(--text-size-2);
        color: #131A6D;
        line-height: 70px;
        text-align: center;
        margin-bottom: 32px;
    }

    .ctaLink{
        font-size: var(--text-size-5);
        color: #C4C9CF;
        margin-bottom: 24px;
        font-weight: 500;
    }

        .ctaLink a{
            color: #2D32E2;
            font-size: var(--text-size-5);
            font-weight: 600;
        }

    .googleAlt{
        width: 100%;
        background-color: #4285F4;
        color: #FFFFFF;
        font-size: var(--text-size-7);
        text-align: center;
        padding: var(--padding-medium);
        border-radius: 8px;
        margin-bottom: 32px;
        font-weight: 600;
    }

        .googleAlt i{
            margin-right: 6px;
        }

    .orLine__horizontal{
        position: relative;
        width: 100%;
        text-transform: uppercase;
        justify-content: center;
        margin-bottom: 32px;
        color: #5E6C80;

    }

    .orLine__horizontal::after,
    .orLine__horizontal::before{
        content: "";
        position: absolute;
        width: 45%;
        height: 1px;
        background-color: #C4C9CF;
    }

    .orLine__horizontal::before{
        right: 0;
    }

    .orLine__horizontal::after{
        left: 0;
    }

    .userForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fieldSection{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 32px;
    }

        .fieldSection:not(.agreement) .errorMessage{
            font-size: var(--text-size-7);
            position: absolute;
            right: 0%;
            bottom: -35%;
            display: none;
        }

    .fieldSection:not(.agreement).error .errorMessage,
    .fieldSection:not(.agreement).error label{
        color: #FF5151;
        display: flex;
    }

    .fieldSection:not(.agreement).error input{
        border: 1px solid #FF5151;

    }


    .fieldSection.agreement{
        flex-direction: row;
        margin-bottom: 42px;
    }


    input:not([name="agreement"]){
        font-size: var(--text-size-7);
        background-color: #FFFFFF;
        border-radius: 8px;
        border: none;
        padding: var(--padding-medium);
        outline: none;
        width: 100%;
        color: #5E6C80;
        font-family: "Inter";
        font-weight: 500;
        letter-spacing: -1%;
    }

    label:not([for="agreement"]){
        text-transform: uppercase;
        color: #C4C9CF;
        font-size: var(--text-size-7);
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translate(0 , -50%);
        transition: all 0.3s;
        pointer-events: none;
    }

        input:not([name="agreement"]).focus + label{
            top: -20%;
            left: 0px;
            transition: all 0.3s;
            font-size: var(--text-size-8);
        }

    label[for="agreement"]{
        position: relative;
        font-size: var(--text-size-7);
        color: #C4C9CF;
        letter-spacing: -1%;
        line-height: 21px;
        margin-left: 30px;
    }

    label[for="agreement"]::before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 1px solid #C4C9CF;
        border-radius: 2px;
        display: inline-block;
        left: -25px;
        top: 2.5px;
        transition: all 0.3s;
    }

    
    .fieldSection.agreement.error label::before{
        border: 1px solid #FF5151;
    }

    label[for="agreement"]::after{
        color: #FFFFFF;
        content: "\2713";
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        left: -22.5px;
        top: 0;
        transform: scale(0);
        transition: all 0.3s;
    }

    label[for="agreement"] a{
        color: #5E6C80;
        font-size: var(--text-size-7);
    }

    input[name="agreement"]{
        position: absolute;
        left: 100px;
        display: none;
    }

    input[name="agreement"]:checked + label[for="agreement"]::before{
        background-color: #2D32E2;
        border: 0px;
        transition: all 0.3s;
    }

    input[name="agreement"]:checked + label[for="agreement"]::after{
        transform: scale(0.9);
        transition: all 0.3s;
    }

    .formSection button{
        width: 250px;
        margin: 0 auto 60px;
    }
