/* NAVBAR */
.navbar{
    position: relative;
    width: 100%;
    z-index: 1000;
    z-index: 10;
}


.navbar .container{
    padding: var(--padding-larger) 0px;
}

.logo{
    font-size: var(--text-size-4);
    color: #2D32E2;
    margin-right: 60px;
}

.navLinks__container{
    justify-content: space-between;
    width: 100%
}

.navLinks{
    gap: 50px;
}

.navLinks li{
    position: relative;
}



